.attendance-table .ant-table-thead > tr > th {
  text-align: center;
}

.attendance-table .ant-table-tbody > tr > td {
  text-align: center;
}

.course-tag {
  width: 100px;
  height: 24px;
  line-height: 16px;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
  border-radius: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
} 